
<!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <!--<link th:href="@{webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css"/>-->
    <!--<script th:src="@{webjars/jquery/1.9.1/jquery.min.js}"></script>-->
    <!--<script th:src="@{webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>-->

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
</head>
<style>
    #step1{
        width: 700px;
        margin-left: 30%;
    }
    #step2{
        width: 700px;
        margin-left: 30%;
        margin-top: 50px;
    }
    #PreviewPicture {
        width: 500px;
        height: 450px;
        background-size: cover;
        -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
        display: inline-block;
    }
    #step3{
        width: 700px;
        margin-left: 30%;
        margin-top: 50px;
    }
    #map{
        width: 500px;
        height: 400px;
    }
</style>
<body>
<div class="row">
    <div class="col-md-16" style="height: 50px;background-color: #2ecc71">

    </div>
</div>

    <div id="step1">
    <h1> THÔNG TIN CỬA HÀNG</h1>
        <input id="tencuahang" style="margin-top: 10px"  type="text" class="form-control" placeholder="ten cua hang"/>
        <input id="phone" style="margin-top: 10px" type="text" class="form-control" placeholder="phone"/>
        <input id="email" style="margin-top: 10px" type="text" class="form-control" placeholder="email"/>
        <textarea id="gioithieu" style="margin-top: 10px" class="form-control" rows="5" placeholder="chu thich" ></textarea>
    </div>
    <div id="step2">
        <h1> HÌNH ẢNH CỬA HÀNG</h1>

        <div>
            <form id="upload-file-form">
                <label for="upload-file-input">Upload your file:</label>
                <input id="upload-file-input" type="file" name="uploadfile" accept="*" />
                <br />
                <span id="upload-file-message"></span>
            </form>
        </div>
        <div  id="PreviewPicture" ></div>
    </div>
    <div id="step3">
        <h1>ĐỊNH VỊ TRÍ CỦA CỬA HÀNG</h1>

        <div id="map"></div>
        <div>

                 <input id="dinhvi" th:value="OK" type="submit" style="width: 50px;margin-top: 10px"  class="btn btn-success btn-sm" />

        </div>
        <div>
            <input style="width: 500px;margin-top: 10px" id="OK" type="submit" value="CREATE STORE NOW" class="btn btn-success btn-sm" />

        </div>
    </div>
<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>


<!--step2 lay hinh anh de hien thi-->
<script>
    $(function() {
        $("#upload-file-input").on("change", function(){
            var files = !!this.files ? this.files : [];
            if (!files.length || !window.FileReader) return; // Check if File is selected, or no FileReader support
            if (/^image/.test( files[0].type)){ //  Allow only image upload
                var ReaderObj = new FileReader(); // Create instance of the FileReader
                ReaderObj.readAsDataURL(files[0]); // read the file uploaded
                ReaderObj.onloadend = function(){ // set uploaded image data as background of div
                    $("#PreviewPicture").css("background-image", "url("+this.result+")");
                }
            }else{
                alert("Upload an image");
            }
        });
    });
</script>
<!--step3 khoi tao ban do map-->
<script>
    var mapp;
    var mapDev = document.getElementById('map')
    var myLatLng = {lat: -34.397, lng: 150.644};
    function initMap() {
        mapp = new google.maps.Map(mapDev, {
            center: myLatLng,
            zoom: 1
        });
    }
</script>
<!--step3 dinh vi , vi tri hien tai-->

<!--submit-->
<script th:src="@{/js/createStore.js}"></script>

<!--step3 goi key googmap-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrfAHt5A8lSE5z3Osql6Zw1EZheyfx55A&amp;callback=initMap"
></script>
<script>

    // bind the on-change event for the input element (triggered when a file
    // is chosen)





    /**
     * Upload the file sending it via Ajax at the Spring Boot server.
     */

</script>
</body>
</html>